.toolbar {
  display: flex;

  nav {
    flex: 0;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #0001;
    background-color: #e8eeef;

    .toolbar-tab {
      display: block;
      padding: 0.2em;
      width: 20px;
      height: 20px;
      cursor: pointer;
      position: relative;

      &.active {
        color: white;
        background-color: steelblue;
      }

      &::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        text-align: center;
        line-height: calc(20px + 0.4em);
      }

      &[data-tab="tree"]::after {
        content: "\1F371";
      }

      &[data-tab="blocks"]::after {
        content: "\1F962";
      }

      &[data-tab="block"]::after {
        content: "\1F359";
      }
    }
  }

  .toolbar-content {
    flex: 1;

    ul {
      display: flex;
      flex-wrap: wrap;

      li {
        flex-basis: 50%;
      }
    }
  }
}
