<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteBase /lucasgarciabaro.github.io/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^assets/(.+)$ api/index.php/assets/$1 [R=302,L,NC]

  RewriteBase /lucasgarciabaro.github.io/
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . index.html [L]
</IfModule>

<Files ./.env>
  Order Allow,Deny
  Deny from all
</Files>

<Files ./.env.local>
  Order Allow,Deny
  Deny from all
</Files>
