.editor {
  padding: 0;
  display: flex;

  .blocks {
    flex: 1;
  }

  .editor-container {
    flex: 7;
    max-width: unset;
  }

  .vocero-block p {
    margin: 0;
  }

  .vocero-block-token {
    color: #444;
    padding: 0 0.65em;
    font-family: monospace;

    &:before,
    &:after {
      content: unset;
    }
  }
}
