.editor {
  padding: 0;
  display: flex;

  .blocks {
    flex: 1;
  }

  .editor-container {
    flex: 7;
    max-width: unset;
  }

  .vocero-block {
    display: contents;

    .vocero-block-editor {
      // all: inherit;
      display: inherit;
      position: inherit;
      flex: inherit;
      outline: 1px solid #0001;

      &:focus-visible {
        outline: 1px solid #4af;
        box-shadow: 1px 2px 5px #0002;
      }

      &:only-child {
        width: 100%;
      }
    }
  }
}
