.editor {
  padding: 0;
  display: flex;

  .blocks {
    flex: 1;
  }

  textarea {
    resize: none;
    flex: 7;
    height: calc(100% - 2rem);
    border: none;
    outline: none;
    font-size: 1.2rem;
    color: #444;
    padding: 1.25rem 0.85rem;
    margin: 0.5em;
  }
}
