.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .home__title {
    color: steelblue;
    font-size: 3rem;
    margin: 0px;
  }

  .home__welcome-message {
    margin: 0px;
  }
}
