.sidebar {
  z-index: 10;
  background-color: #e8eeef;
  box-shadow: 2px 0px 4px -1px #0003;
  padding: 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;

  .fullscreen & {
    .btn {
      display: none;
    }
  }

  .sidebar__head {
    position: relative;
    height: 0px;
    // margin: 0px;

    > span {
      cursor: pointer;
      font-size: 2rem;
      line-height: 0.5;
      border: 1px solid #ddd;
      border-radius: 50%;
      padding: 2px;

      &:hover {
        background-color: steelblue;
        color: white;
      }
    }

    .fullscreen & {
      font-size: 0px;

      > span {
        font-size: 2rem;
        margin-left: 1rem;
        transform: rotate(180deg) translateX(-4px);
      }
    }

    > span {
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translateY(-50%);
      width: 1rem;
      height: 1rem;
      content: "\00AB";
    }
  }

  .sidebar__controls {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;

    .icon {
      cursor: pointer;
      width: 2rem;
      height: 2rem;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;

      $icons: "settings", "visit", "send";
      @each $icon in $icons {
        &.#{$icon} {
          background-image: url(../../assets/icons/#{$icon}-icon.png);
        }
      }

      > abbr {
        display: block;
        height: 2rem;
      }
    }
  }

  button[data-changes] {
    width: 100%;
    position: relative;

    &[data-changes="0"]::after {
      display: none;
    }

    &::after {
      content: attr(data-changes);
      position: absolute;
      top: 50%;
      right: 0.65em;
      width: 1.3em;
      height: 1.3em;
      border-radius: 50%;
      background-color: red;
      color: white;
      transform: translateY(-50%);
    }
  }
}
