@charset "UTF-8";
.home {
  display: block;
}

.edit-page {
  display: flex;
}

.edit-page > div {
  flex: 1;
}

.sidebar {
  z-index: 10;
  background-color: #e8eeef;
  box-shadow: 2px 0px 4px -1px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
.sidebar.disabled ul {
  opacity: 0.5;
  cursor: progress;
}
.sidebar.disabled a {
  pointer-events: none;
}
.sidebar h3 {
  position: relative;
  margin: 0px;
}
.sidebar h3 > span {
  cursor: pointer;
  font-size: 2rem;
  line-height: 0.5;
  border: 1px solid #ddd;
  border-radius: 50%;
  padding: 2px;
}
.sidebar h3 > span:hover {
  background-color: steelblue;
  color: white;
}
.fullscreen .sidebar h3 {
  font-size: 0px;
}
.fullscreen .sidebar h3 > span {
  font-size: 2rem;
  margin-left: 1rem;
  transform: rotate(180deg) translateX(-4px);
}
.sidebar h3 > span {
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  content: "«";
}
.sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.sidebar ul ul {
  padding-left: 0.8rem;
}
.sidebar ul li.open {
  background-color: steelblue;
  color: white;
}
.sidebar ul li a,
.sidebar ul li span {
  color: var(--font-color);
  text-decoration: none;
  font-weight: bold;
  position: relative;
  padding-left: 1rem;
}
.sidebar ul li a:before,
.sidebar ul li span:before {
  position: absolute;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 1rem;
  height: 1rem;
  text-align: center;
}
.sidebar ul li a:before {
  content: "Ξ";
}
.sidebar ul li span:before {
  content: ">";
}

.editor textarea {
  resize: none;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 1.2rem;
  color: #444;
}

.app__content {
  display: grid;
  grid-template-columns: [sidebar] 30vw [main] auto [end];
  grid-template-rows: [header] var(--header-height) [main] auto [end];
  transition: grid-template-columns 0.5s ease-in;
  height: 100vh;
}
.app__content.fullscreen {
  grid-template-columns: [sidebar] 3rem [main] auto [end];
}
.app__content.fullscreen .sidebar .item {
  display: none;
}

@media screen and (min-width: 640px) {
  .app__content {
    grid-template-columns: [sidebar] 25vw [main] auto [end];
  }
}
@media screen and (min-width: 980px) {
  .app__content {
    grid-template-columns: [sidebar] 20vw [main] auto [end];
  }
}
@media screen and (min-width: 1200px) {
  .app__content {
    grid-template-columns: [sidebar] 250px [main] auto [end];
  }
}
.app__content .header {
  height: var(--header-height);
  grid-column: sidebar/end;
  grid-row: header/main;
  box-shadow: 0px 5px 5px -5px rgba(0, 0, 0, 0.2);
  padding: 0 2vw;
}

.brand {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 7px 0;
}

.brand-logo {
  width: 50px;
}

.brand-logo img {
  width: 100%;
  height: calc(var(--header-height) - 14px);
  -o-object-fit: contain;
     object-fit: contain;
}

.edit.page {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.edit__content {
  flex: 1;
  display: flex;
}
.edit__content > div {
  flex: 1;
  overflow-y: auto;
}

.edit__controls {
  height: 60px;
  background-color: steelblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem;
}
.edit__controls .btn {
  padding: 0.5em 1.2em;
  border: 1px solid;
  border-radius: 0.6em;
  cursor: pointer;
}
.edit__controls .btn:hover {
  background-color: rgba(255, 255, 255, 0.1333333333);
}

.header {
  z-index: 100;
}

.brand {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 7px 0;
}

.brand-logo {
  width: 50px;
}

.brand-logo img {
  width: 100%;
  height: calc(var(--header-height) - 14px);
  -o-object-fit: contain;
     object-fit: contain;
}
/*# sourceMappingURL=bundle.css.map */