.header {
  z-index: 100;
  display: flex;
}

.brand {
  display: flex;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 7px 0;
}

.site-name {
  display: flex;
  align-items: center;
  margin-left: 1em;

  > p {
    font-size: 1.4em;
    // font-weight: bold;
    padding-left: 1em;
    border-left: 1px solid;
  }
}

.brand-logo {
  width: 50px;
}

.brand-logo img {
  width: 100%;
  height: calc(var(--header-height) - 14px);
  object-fit: contain;
}
