.edit.page {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.edit__content {
  flex: 1;
  display: flex;

  > div {
    flex: 1;
    overflow-y: auto;
  }

  &.data .preview,
  &.asset .preview {
    display: none;
  }

  &.preview .editor {
    display: none;
  }
}

.edit__controls {
  height: 60px;
  background-color: steelblue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 2rem;
}
